@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');


body {
    box-sizing: border-box;
    background-color: #FB6B6B;
}

h1,
h2 {
    font-family: 'Righteous', cursive;
    color: #ffffff;

}

p {
    font-family: 'Recursive', sans-serif;
}


@media only screen and (max-width: 500px) {


    h1,
    h2 {
        font-family: 'Righteous', cursive;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.012em;
    }

    p {
        font-family: 'Recursive', sans-serif;
    }

    /*--------- FRONTAL PAGE --------------*/

    .frontalpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 1px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #FB6B6B;
        overflow-y: hidden;
        visibility: hidden;
        transition: 1s;
    }

    .backfrontalpage {
        height: 100vh;
        visibility: inherit;
    }

    /*Logo css*/

    .frontallogoarea {
        width: 66px;
        height: 91px;
    }

    .frontallogo {
        width: 100%;
        height: 100%;
    }

    /*Tittle css*/

    .frontaltittlearea {
        margin-top: 10px;
        width: 257px;
        height: 59px;
        text-align: center;
    }

    .frontaltittlearea>h1 {}

    /*Frontal button CSS*/

    .frontalbottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        background-color: #ffffff;
        border: 1px solid #D70900;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        height: 54px;
        width: 50vw;
        cursor: pointer;
    }

    .beginrecall {
        color: #D70900;
    }

    /*--------- FRONTAL PAGE --------------*/


    /*--------- Game PAGE --------------*/

    .gamepage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    /*Header*/

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gamelogo {
        height: 50px;
        width: 42px;
    }

    .minilogo {
        width: 100%;
        height: 100%;
    }

    .tittlelogo {
        width: 203.17px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
    }

    /*Article*/

    article {
        margin-top: 30px;
    }

    .questionarea {
        height: 65px;
        width: 60vw;
        background: #FFFFFF;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-top: 25px;
        display: flex;
    }

    .questionbegin {
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .questionnumber {
        margin-left: 15px;
    }

    .questionplay {
        width: 20px;
        height: 23px;
        margin-right: 15px;
    }

    .playimg {
        width: 100%;
        height: 100%;
        visibility: initial;
    }

    /*respostas:*/

    .risck {
        text-decoration-line: line-through;
    }

    .nope {
        color: #FF3030;
    }

    .check {
        color: #2FBE34;
    }

    .doubt {
        color: #FF922E;
    }


    /*Open*/


    .open {
        transition: 1s;
        height: 131px;
        overflow: hidden;
    }

    .open>.questionbegin {
        display: none;
    }

    .not>.card {
        display: none;
    }

    .card {
        width: 100vw;
        position: relative;
    }

    .face {
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
    }

    .front-face {
        display: flex;
        flex-direction: column;
        width: 100%;

        top: 0;
    }

    .questiontext {
        margin-top: 25px;
        margin-left: 15px;
    }

    .front-face>.flipicon {
        display: flex;
        justify-content: end;
        margin-top: 68px;
        margin-bottom: 6px;
        margin-right: 16px;

    }

    .arrow {
        cursor: pointer;
    }


    .flipon {
        /*carta front*/
        transform: rotateY(-180deg);
    }

    .back-face {
        transform: rotateY(180deg);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .flipoff {
        /*carta back*/
        transform: rotateY(0deg);
    }

    .textasnwer {
        margin-left: 15px;
    }

    .questionbuttonszone {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .card:hover .back-face {
        transform: rotateY(0deg);
    }

    .card:hover .front-face {
        transform: rotateY(-180deg);
    }

    .questionbutton {
        height: 37.17px;
        width: 18vw;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .dontremeber {
        background-color: #FF3030;
    }

    .almost {
        background: #FF922E;
    }

    .zap {
        background: #2FBE34;
    }


    /*Footer*/

    footer {
        background: #FFFFFF;
        box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .concludezone {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .endmenssage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .principalendmsg {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }


    .endtext {
        margin-bottom: 10px;
    }

    .concludes {
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footerbuttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footerpoints {
        width: 20px;
        height: 23px;
        visibility: initial;
    }

    /*--------- Game PAGE --------------*/



}